@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin centerElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin backdrop {
    background-color: rgba($color-black, .9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}
